* {
    background-color: #010001;
    color: #E7E9EA;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.main-main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.first_col {
    padding-left: 18rem;
    border-right: 1px solid rgb(75, 71, 71);
    width: 300px;
}

.logo {
    cursor: pointer;
    background-image: url(logo.jpg);
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

/* List of First column */

ul {
    list-style: none;
    padding-left: 10px;
    padding-bottom: 10px;
}

li p{
    display: inline;
    padding-left: 2rem;
}

.btn p{
    font-size: 1.3rem;
}

.btn {
    cursor: pointer;
    padding: 10px;
    border: none;
}

.btn i {
    font-size: 1.5rem;
}

.btn:hover i,.btn:hover p{
    background-color:  #171919;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color:  #171919;    /* background-color: #089264; */
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

li {
    padding: 0.5rem;
}

/* For Post Button */

.post {
    cursor: pointer;
    background-color: #00ba7c;
    color: #ffffff;
    padding: 15px 95px;
    margin-bottom: 8rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
}

.post:hover {
    background-color: #089264;
}

/* Profile Things */
.profile {
    padding-top: 49px;
}

.account {
    cursor: pointer;
    padding: 10px;
    width: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    border: none;
}

.photo {
    background-image: url(profile.jpg);
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    padding-right: 50px;
}

.other h2 {
    font-size: 1rem;
}
.other p{
    padding-left: 15px;
    font-size: 1rem;
    color: rgb(170, 160, 160);
}

.account:hover,
.account:hover p,
.account:hover h2,
.account:hover .menu{
    border-radius: 20px;
    background-color: #171919;
    transition: background-color 0.3s ease;
}



/* SECOND COLUMN */
/* CONTAINS AND SCROLL */

.second_col {
    background-color: black;
    width: 600px;
    border-right: 1px solid rgb(75, 71, 71);
    overflow-y: auto;
}

.second_col::-webkit-scrollbar {
  display: none;
}

.main-first{
    border-top: 1px solid rgb(75, 71, 71);
    border-right: 1px solid rgb(75, 71, 71);
    border-bottom: 1px solid rgb(75, 71, 71);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.first{
    background-color: white;
    flex-grow: 9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-first i{
    flex-grow: 0.2;
    margin-left: 20px;
}

.one {
    padding: 16px;
    border: none;
    flex-grow: 5;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}

.one p{
    opacity: 0.5;
}

.one:hover p{
    opacity: 1;
}

.one{
    text-align: center;
    width: auto;
    font-size: 15px;
    color: rgb(113, 109, 109); 
    font-weight: 700;
    position: relative;
}

.first-one:hover {
    background-color: #171919;
}

.second-one:hover {
    background-color: #171919;
}

.one::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 50%;
    height: 5px;
    border-radius: 40px;
}

.one:hover::before {
    background-color: rgba(0, 202, 124, 1);
    width: 25%;
}

.i-tag {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#i-tag {
    background-color: black;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.i-tag i:hover {
    cursor: pointer;
}

.i-tag:hover #i-tag{
    background-color: #171919;
    border-radius: 50%;
}

/* What is happing part */

.second-first {
    display: flex;
    align-items: center;
}

.photo1 {
    margin: 15px;
    background-image: url(profile.jpg);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.second-first h1 {
    color: #70777B;
    font-size: 1.5rem;
    font-weight: normal;
}

/* Posting and other lists */

.second-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(75, 71, 71);
}

.lists ul {
    padding-left: 65px;
    display: flex;
}

.lists ul li{
    cursor: pointer;
    padding-left: 12px ;
}

.lists ul li i{
    color: #00ba7c;
}

.small-post {
    padding-right: 20px;
    cursor: pointer;
    background-color: #325F3F;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bolder;
    margin-right: 10px;
}

.small-post button {
    cursor: pointer;
    border: none;
}

.small-post h3{
    color: #828c90;
    background-color: #325F3F;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
}

/* Third content in second Row */
.third {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(75, 71, 71);
}
.third p{
    font-family: Arial, Helvetica, sans-serif;
    color: #00ba7c;
    font-size: 1rem;
    padding: 5px;
}

/* Forth Container in second Column */
/* Feeds */

.forth {
    cursor: pointer;
    display: flex;
    margin: 15px;
    border-bottom: 1px solid rgb(75, 71, 71);
}

/* First of the forth */
.profile_content {
    background-image: url(content.jpg);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

/* Second of the forth */
/* Display of the contents owners information */
.Usernames {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.main_content {
    padding-left: 10px;
}

.name {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.blue_tick {
    background-image: url(blue-tick.png);
    height: 15px;
    width: 15px;
    background-size: cover;
}

.username {
    padding-right: 20px;
}

.username p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5C6165;
}

.Text {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 1rem;
}

.visual_content {
    background-image: url(feed.png);
    height: 550px;
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}

.like_and_others ul{
    padding-top: 10px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.like_and_others ul li i{
    color: #5C6165; 
}

.like_and_others ul li {
    color: #5C6165;
}

/* Last column */

.others_content {
    padding-left: 30px; 
    padding-top: 18px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.others_content i{
    color: #5C6165;
}

.right_side{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Content image for second */
.profile_content2 {
    background-image: url(second_content.jpg);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.Usernames2 {
    width: 260px;
    display: flex;
    justify-content: space-around;
}

.username2 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5C6165;
}

.visual_content2 {
    background-image: url(ronaldo.jpeg);
    height: 550px;
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}